<div class="shapedividers_com-8708">
  <div class="background-image"></div>
</div>
<footer class="footer">
  <div class="container pt-5 pb-5">
    <div class="row">
      <div class="col-lg-4 col-md-12 col-sm-12 col-12 pt-2 pb-2">
        <div>
          Built with Angular
          <img
            src="assets/images/angular-icon-2.png"
            alt="angular icon"
            class="img-fluid"
            style="width: 20px"
          />
        </div>
      </div>
      <div class="col-lg-4 col-md-12 col-sm-12 col-12 pt-2 pb-2">
        <div>Let’s build something amazing! <span class="heart">❤</span></div>
      </div>
      <div class="col-lg-4 col-md-12 col-sm-12 col-12 pt-2 pb-2">
        <div>© {{ currentYear }} Youssef. All rights reserved.</div>
      </div>
    </div>
  </div>
</footer>
