// @use "sass:map";

$primary-color: #005cbb;

$secondary-color: #d7e3ff;

$third-color: #e0e0ff;

.mat-primary {
  color: $primary-color;
}
.mat-secondary {
  color: $secondary-color;
}
.mat-third {
  color: $third-color;
}

.mat-bg-secondary {
  background-color: $secondary-color;
}

.divider {
  margin-top: 75px;
  height: 1px;
  width: 100%;
  background-color: rgba(108, 108, 108, 0.573);
}
.divider_two {
  margin-top: 50px;
  height: 1px;
  width: 100%;
  background-color: rgba(108, 108, 108, 0.573);
}

.title {
  color: #005cbb;
  font-size: clamp(22px, 4vw, 25px) !important;
  margin-bottom: 5px !important;
  text-align: center;
  font-weight: bold !important;
  text-transform: uppercase;
}
