nav {
  padding: 50px 0px;

  .logo {
    text-align: center;
    img {
      width: 100px;
    }
  }

  .links {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .info {
    margin: auto;
    cursor: pointer;
    font-size: 25px;
  }

  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
    padding: 0px;
    gap: 35px;
    font-size: 25px;
    cursor: pointer;
  }
}
