<nav>
  <div class="container-fluid">
    <div class="row">
      <div class="logo col-2">
        <img src="assets/images/Logo.png" alt="logo-image" class="img-fluid" />
      </div>

      <div class="links col-7">
        <ul>
          <li (click)="scrollToSection('about')">About</li>
          <li (click)="scrollToSection('skills')">Skills</li>
          <li (click)="scrollToSection('projects')">Projects</li>
          <li (click)="scrollToSection('resume')">Resume</li>
          <li (click)="scrollToSection('contact')">Contact</li>
        </ul>
      </div>

      <div (click)="scrollToSection('next')" class="info col-3">
        What's Next?
      </div>
    </div>
  </div>
</nav>
