@use '@angular/material' as mat;

:root {
  interpolate-size: allow-keywords;

  //! overrides
  @include mat.progress-bar-overrides(
    (
      track-height: 10px,
      active-indicator-height: 8px,
      track-shape: 12px,
    )
  );
  .mdc-linear-progress__bar-inner {
    border-radius: 12px;
  }
}
body {
  height: 100%;
  margin: 0;
  font: var(--mat-sys-body-medium);
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
}

// Global UI Fixes (Scrollbars, etc.)
* {
  &::-webkit-scrollbar {
    height: 6px;
    width: 6px;
  }
  &::-webkit-scrollbar-track {
    background: var(--mat-sys-secondary-container);
  }
  &::-webkit-scrollbar-thumb {
    background-color: var(--mat-sys-primary);
    border-radius: var(--mat-sys-corner-small);
  }
}
