@theme {
  /** Primary Colors */
  --color-primary: var(--mat-sys-primary);
  --color-on-primary: var(--mat-sys-on-primary);
  --color-primary-container: var(--mat-sys-primary-container);
  --color-on-primary-container: var(--mat-sys-on-primary-container);

  /*- Secondary Colors */
  --color-secondary: var(--mat-sys-secondary);
  --color-on-secondary: var(--mat-sys-on-secondary);
  --color-secondary-container: var(--mat-sys-secondary-container);
  --color-on-secondary-container: var(--mat-sys-on-secondary-container);

  /*` Tertiary Colors */
  --color-tertiary: var(--mat-sys-tertiary);
  --color-on-tertiary: var(--mat-sys-on-tertiary);
  --color-tertiary-container: var(--mat-sys-tertiary-container);
  --color-on-tertiary-container: var(--mat-sys-on-tertiary-container);

  /*- warning Colors */
  --color-warning: light-dark(#d1d10e, #cdcd00);
  --color-on-warning: light-dark(#3a3700, #49482d);

  /* old values for warning colors */
  /*` --color-warning: light-dark(#626200, #cdcd00); */
  /*` --color-on-warning: light-dark(#e7e4bf, #49482d); */

  /*- info Colors */
  --color-info: light-dark(#005cbb, #abc7ff);
  --color-on-info: light-dark(#dae2f9, #3e4759);

  /*- success Colors */
  --color-success: light-dark(#006d33, #00e472);
  --color-on-success: light-dark(#d3e8d2, #394b3b);

  /*! error */
  --color-error: var(--mat-sys-error);
  --color-on-error: var(--mat-sys-on-error);
  --color-error-container: var(--mat-sys-error-container);
  --color-on-error-container: var(--mat-sys-on-error-container);

  /** Border Colors */
  --color-outline: var(--mat-sys-outline);
  --color-outline-variant: var(--mat-sys-outline-variant);

  /* Neutral Utilities */
  --color-neutral-variant20: var(--mat-sys-neutral-variant20);
  --color-neutral10: var(--mat-sys-neutral10);

  /* Surface */
  --color-surface: var(--mat-sys-surface);
  --color-on-surface: var(--mat-sys-on-surface);
  --color-on-surface-variant: var(--mat-sys-on-surface-variant);
  --color-surface-bright: var(--mat-sys-surface-bright);
  --color-surface-container: var(--mat-sys-surface-container);
  --color-surface-container-high: var(--mat-sys-surface-container-high);
  --color-surface-container-highest: var(--mat-sys-surface-container-highest);
  --color-surface-container-low: var(--mat-sys-surface-container-low);
  --color-surface-container-lowest: var(--mat-sys-surface-container-lowest);
  --color-surface-dim: var(--mat-sys-surface-dim);
  --color-surface-tint: var(--mat-sys-surface-tint);
  --color-surface-variant: var(--mat-sys-surface-variant);
  --color-inverse-surface: var(--mat-sys-inverse-surface);
  --color-inverse-on-surface: var(--mat-sys-inverse-on-surface);

  /* Shadow Utilities */
  --shadow-mat-1: var(--mat-sys-level1);
  --shadow-mat-2: var(--mat-sys-level2);
  --shadow-mat-3: var(--mat-sys-level3);
  --shadow-mat-4: var(--mat-sys-level4);
  --shadow-mat-5: var(--mat-sys-level5);

  /* Radius Utilities */
  --radius-corner-xs: var(--mat-sys-corner-extra-small);
  --radius-corner-sm: var(--mat-sys-corner-small);
  --radius-corner-md: var(--mat-sys-corner-medium);
  --radius-corner-lg: var(--mat-sys-corner-large);
  --radius-corner-xl: var(--mat-sys-corner-extra-large);

  /* Container & Max-Width Scales */
  --container-8xl: 90rem;
  --container-9xl: 100rem;

  /* Tri-Font System Architecture */
  --font-display: 'Chillax', sans-serif;
  --font-body: 'Google Sans Flex', sans-serif;
  --font-numeric: 'Melodrama', serif;
}
