<mat-form-field [appearance]="appearance()" class="w-full">
  <mat-label>{{ label() }}</mat-label>
  @if (icon()) {
    <mat-icon matPrefix [name]="icon()!" />
  }
  <input
    matInput
    [formField]="formField()"
    type="text"
    [placeholder]="placeholder()"
    [matAutocomplete]="auto"
    [disabled]="disabled()"
    (focus)="ensureMapsLoaded()"
    (input)="onInput($event)"
  />
  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onOptionSelected($event)">
    @for (prediction of predictions(); track prediction.placePrediction?.placeId) {
      @let description = prediction.placePrediction?.text?.text;
      <mat-option [value]="description">{{ description }}</mat-option>
    }
  </mat-autocomplete>
  @if (showError()) {
    <mat-error>{{ errorMessage() }}</mat-error>
  }
</mat-form-field>
