<section class="about pt-5">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1 class="title">ABOUT ME</h1>
      </div>
      <div class="col-12">
        <article class="col-lg-10 col-md-12 col-sm-12 col-12 article_">
          <span>
            Hello! My name is Youssef, and I’m a passionate front-end developer
            with one year of experience specializing in Angular.
          </span>
          <span>
            I’ve had the opportunity to work on a range of projects, including
            full websites and landing pages, with a strong focus on creating
            visually appealing designs and smooth user experiences.
          </span>
          <span>
            My first client project,<span>
              <a href="https://www.hatha-alislam.net" target="_blank"
                >“ Hatha-Alislam ”</a
              >
            </span>
          </span>
          <span>
            Highlighted my attention to detail in styling, color matching, and
            user-friendly interfaces.
          </span>
          <span>
            I’m always eager to learn, staying up-to-date with the latest trends
            in front-end development by reading news about new features and
            taking courses. I have a particular interest in diving deeper into
            Angular, mastering RxJS, and improving my skills in deployment,
            UI/UX, and Figma
          </span>
          <span>
            My goal is to become highly skilled in front-end development,
            continually evolving my approach to deliver unique and polished
            results.
          </span>
        </article>
      </div>
      <div class="col-12 links-container">
        <h1 class="title">Links</h1>
        <div class="links">
          <a href="https://www.facebook.com/youssefathalla" target="_blank"
            ><i class="fa-brands fa-square-facebook"></i
          ></a>
          <a href="https://www.linkedin.com/in/youssefathalla" target="_blank"
            ><i class="fa-brands fa-linkedin"></i
          ></a>
          <a href="https://github.com/YousseFathalla" target="_blank"
            ><i class="fa-brands fa-square-github"></i
          ></a>
          <a href="https://www.instagram.com/youssefathalla" target="_blank"
            ><i class="fa-brands fa-square-instagram"></i
          ></a>
        </div>
        <div class="contact_">
          <div class="pb-2">
            <i class="fa-solid fa-location-dot"></i>
            Egypt, Alexandria
          </div>
          <div>Youssefathalla&#64;gmail.come</div>

          <div class="mobile">
            <i class="fa-brands fa-whatsapp"></i>
            +(20)1274357411
          </div>
        </div>
      </div>
    </div>
    <div class="divider_two"></div>
  </div>
</section>
