.mobile-menu {
  position: absolute;
  height: 30px;
  width: fit-content;
  right: 0px;
  top: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  .mat-icon {
    width: 30px;
    height: 30px;
  }
  .material-icons {
    font-size: 30px;
  }
}

::ng-deep button {
  text-align: center !important;
}
::ng-deep .cdk-overlay-connected-position-bounding-box {
  top: 75px !important;
}
::ng-deep .mat-mdc-menu-content {
  padding: 0px !important;
}
.mat-divider {
  margin: 0px !important;
}
