<section class="landing">
  <div class="container">
    <div class="row">
      <div class="col-12 pb-5">
        <div>
          <h2 class="welcome-message">Hi, i'm</h2>
          <h2 class="mat-primary welcome-message">
            Youssef
            <img
              src="assets/images/Logo.png"
              alt="logo-image"
              class="img-fluid"
              style="width: 100px; margin: -20px"
            />
            Fathalla
          </h2>
          <h6 class="pt-1">
            A Front-End Developer <span class="mat-primary"> | </span>Angular
            <img
              src="assets/images/angular-icon-2.png"
              alt="angular icon"
              class="img-fluid"
              style="width: 20px"
            />
          </h6>
          <button class="mt-3" mat-raised-button>
            <a
              class="mat-primary"
              href="assets/cv/Resume.pdf"
              download="Youssef_Fathalla_Resume.pdf"
            >
              Download Resume
            </a>
            <mat-icon>edit_document</mat-icon>
          </button>
        </div>
      </div>
    </div>
    <div class="col-12 divider"></div>
  </div>
</section>
