.landing {
  padding-top: 150px;
  padding-bottom: 50px;
  .container {
    text-align: center;
    .welcome-message {
      font-size: clamp(38px, 4vw, 45px) !important;
      margin-bottom: 7px !important;
    }
  }
}
