<section class="contact pt-5 pb-5">
  <h1 class="title pb-5">Contact Me</h1>
  <div class="container">
    <div class="row justify-content-evenly">
      <!-- form  -->
      <div class="col-lg-5 col-md-12 col-sm-12 col-12">
        <form #contactForm="ngForm" (ngSubmit)="saveForm(contactForm)">
          <div class="name-email pb-1">
            <mat-form-field class="name-field">
              <mat-label>Name</mat-label>
              <input matInput name="name" ngModel required type="text" />
              <mat-error> Please enter your name</mat-error>
            </mat-form-field>

            <mat-form-field class="email-field">
              <mat-label>Enter your email</mat-label>
              <input
                matInput
                placeholder="Email@example.com"
                required
                name="email"
                ngModel
                email
                #email="ngModel"
                type="email"
              />
              @if (email.errors?.['required']) {
              <mat-error> You must enter a value. </mat-error>
              } @if (email.errors?.['email'] && !email.errors?.['required']) {
              <mat-error> Not a valid email. </mat-error>
              }
            </mat-form-field>
          </div>

          <div class="subject pb-1">
            <mat-form-field>
              <mat-label>Subject</mat-label>
              <input matInput required ngModel name="subject" type="text" />
              <mat-error> Please enter a subject</mat-error>
            </mat-form-field>
          </div>

          <div class="textarea pb-1">
            <mat-form-field>
              <mat-label>Message</mat-label>
              <textarea
                matInput
                required
                ngModel
                name="message"
                type="text"
              ></textarea>
              <mat-error> Please Leave a message </mat-error>
            </mat-form-field>
          </div>

          <button
            mat-flat-button
            type="submit"
            [disabled]="!contactForm.valid"
            aria-label="submit button"
          >
            <mat-icon>forward_to_inbox</mat-icon>
            Submit
          </button>
        </form>
      </div>
      <!-- info -->
      <div
        class="col-lg-5 col-md-12 col-sm-12 col-12 pt-4 text-center text-lg-start"
      >
        <div class="name_">
          <h5 class="mb-1 mat-primary">Youssef Fathalla</h5>
          <p>
            Front-End Developer <span class="mat-primary"> | </span>Angular
            <img
              src="assets/images/angular-icon-2.png"
              alt="angular icon"
              class="img-fluid"
              style="width: 20px"
            />
          </p>
        </div>
        <div class="contact_">
          <div>
            <h5 class="mb-1 pt-3 mat-primary">Phone</h5>
            <p>+(20)1274357411</p>
          </div>

          <div>
            <h5 class="mb-1 pt-3 mat-primary">Email</h5>
            <p>Youssefathalla&#64;gmail.com</p>
          </div>
        </div>
        <div class="social-media pt-4">
          <div class="links">
            <a href="https://www.facebook.com/youssefathalla" target="_blank"
              ><i class="fa-brands fa-square-facebook"></i
            ></a>
            <a href="https://www.linkedin.com/in/youssefathalla" target="_blank"
              ><i class="fa-brands fa-linkedin"></i
            ></a>
            <a href="https://github.com/YousseFathalla" target="_blank"
              ><i class="fa-brands fa-square-github"></i
            ></a>
            <a href="https://www.instagram.com/youssefathalla" target="_blank"
              ><i class="fa-brands fa-square-instagram"></i
            ></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
