<section class="projects">
  <div class="container">
    <div class="row">
      <h1 class="title pt-5 pb-5">projects</h1>
      <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12">
        <div class="card">
          <div class="header">
            <h5>Hatha-Alislam</h5>
          </div>
          <div class="img">
            <img
              src="/assets/images/logo_intro.jpeg"
              alt="Islamic image"
              class="img-fluid"
            />
          </div>
          <div class="content-container">
            <div>
              <span class="content">Category:</span>
              <span class="description">Islamic(AR) Website</span>
            </div>
            <div>
              <span class="content">Role:</span>
              <span class="description">Front-End Developer</span>
            </div>
            <div>
              <span class="content">Tech:</span>
              <span class="description"> Angular </span>
            </div>
          </div>
          <div class="footer">
            <a
              mat-flat-button
              href="https://www.hatha-alislam.net"
              target="_blank"
            >
              <mat-icon>open_in_new</mat-icon>
              Go To Website
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="divider"></div>
  </div>
</section>
