<button mat-button [matMenuTriggerFor]="menu">
  <mat-icon>language</mat-icon>
  <span class="ml-2">{{ 'language' | transloco }}</span>
</button>
<mat-menu #menu="matMenu">
  <button mat-menu-item (click)="switchLanguage('en')">
    <span>{{ 'english' | transloco }}</span>
  </button>
  <button mat-menu-item (click)="switchLanguage('ar')">
    <span>{{ 'arabic' | transloco }}</span>
  </button>
  <button mat-menu-item (click)="switchLanguage('hi')">
    <span>{{ 'hindi' | transloco }}</span>
  </button>
</mat-menu>
