@use '@angular/material' as mat;
@use 'ng-material';
@use 'base';
@use 'fonts';

html {
  height: 100%;
  color-scheme: light dark;
  @include mat.theme(
    (
      color: (
        theme-type: color-scheme,
        primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
      ),
      typography: 'Google Sans Flex',
      density: 0,
    )
  );
}
