@use '@angular/material' as mat;
@use '../themes/frost-fairy' as ff;
@use '../themes/purple-illusion' as pi;
@use 'ng-material';
@use 'base';
@use 'fonts';

html {
  height: 100%;
  color-scheme: light dark;
  @include mat.theme(
    (
      color: (
        theme-type: color-scheme,
        primary: pi.$primary-palette,
        tertiary: pi.$tertiary-palette,
      ),
      typography: 'Google Sans Flex',
      density: 0,
    )
  );
}
