<div
  class="grid grid-cols-[repeat(auto-fill,minmax(200px,1fr))] gap-4 *:flex *:justify-center *:items-center *:w-full *:h-50"
>
  <div class="bg-primary text-on-primary">Primary</div>
  <div class="bg-primary-container text-on-primary-container">Primary Container</div>
  <div class="bg-secondary text-on-secondary">Secondary</div>
  <div class="bg-secondary-container text-on-secondary-container">Secondary Container</div>
  <div class="bg-error text-on-error">Error</div>
  <div class="bg-error-container text-on-error-container">Error Container</div>

  <div class="bg-tertiary text-on-tertiary">Tertiary</div>
  <div class="bg-tertiary-container text-on-tertiary-container">Tertiary Container</div>

  <div theme="success" class="bg-(--mat-sys-primary) text-(--mat-sys-on-primary)">Success</div>
  <div
    theme="success" class="bg-(--mat-sys-secondary-container) text-(--mat-sys-on-secondary-container)"
  >
    Success Container
  </div>

  <div theme="warning" class="bg-(--mat-sys-primary) text-(--mat-sys-on-primary)">Warning</div>
  <div
    theme="warning" class="bg-(--mat-sys-secondary-container) text-(--mat-sys-on-secondary-container)"
  >
    Warning Container
  </div>

  <div theme="info" class="bg-(--mat-sys-primary) text-(--mat-sys-on-primary)">Info</div>
  <div
    theme="info" class="bg-(--mat-sys-secondary-container) text-(--mat-sys-on-secondary-container)"
  >
    Info Container
  </div>

  <div class="text-white bg-neutral-variant20">Neutral Variant 20</div>
  <div class="text-white bg-neutral10">Neutral Variant 10</div>
</div>
<div class="flex items-center justify-center gap-2 mt-10">
  @for (status of ['high', 'medium', 'low', 'critical', 'normal']; track status) {
    <app-status-badge [value]="status" [statusConfig]="statusConfig" />
  }
</div>
<div class="flex flex-col flex-wrap gap-4 px-10 pt-5">
  <div class="flex flex-wrap gap-4">
    <div>
      <mat-icon iconColor="warning" class="size-12! text-[3rem]!">home</mat-icon>
      <mat-icon iconColor="success" class="size-12! text-[3rem]!">home</mat-icon>
      <mat-icon iconColor="info" class="size-12! text-[3rem]!">home</mat-icon>
    </div>
    <mat-checkbox checked>Home</mat-checkbox>
    <mat-checkbox checked theme="info">Home</mat-checkbox>
    <mat-checkbox checked theme="warning">Home</mat-checkbox>
    <mat-checkbox checked theme="success">Home</mat-checkbox>
  </div>
  <div class="flex flex-col flex-wrap gap-6">
    <div class="flex flex-wrap gap-4">
      <button matButton="outlined">
        <mat-icon>home</mat-icon>
        Outlined
      </button>
      <button matButton="outlined" theme="info">
        <mat-icon>home</mat-icon>
        Outlined
      </button>
      <button matButton="outlined" theme="warning">
        <mat-icon>home</mat-icon>
        Outlined
      </button>
      <button matButton="outlined" theme="success">
        <mat-icon>home</mat-icon>
        Outlined
      </button>
    </div>
    <div class="flex flex-wrap gap-4">
      <button matButton="filled">
        <mat-icon>home</mat-icon>
        Filled
      </button>
      <button matButton="filled" theme="info">
        <mat-icon>home</mat-icon>
        Filled
      </button>
      <button matButton="filled" theme="warning">
        <mat-icon>home</mat-icon>
        Warning
      </button>
      <button matButton="filled" theme="success">
        <mat-icon>home</mat-icon>
        Success
      </button>
    </div>

    <div class="flex flex-wrap gap-4">
      <button matButton="tonal">
        <mat-icon>home</mat-icon>
        Tonal
      </button>
      <button matButton="tonal" theme="warning">
        <mat-icon>home</mat-icon>
        Tonal
      </button>
      <button matButton="tonal" theme="success">
        <mat-icon>home</mat-icon>
        Tonal
      </button>
      <button matButton="tonal" theme="info">
        <mat-icon>home</mat-icon>
        Tonal
      </button>
    </div>
  </div>
</div>

<div class="flex flex-wrap gap-4 px-10 py-5">
  <button
    mat-flat-button
    theme="success"
    (click)="showSnackBar('Success message!', 'success-snackbar')"
  >
    Show Success Snackbar
  </button>
  <button
    mat-flat-button
    theme="warning"
    (click)="showSnackBar('Warning message!', 'warning-snackbar')"
  >
    Show Warning Snackbar
  </button>
  <button
    mat-flat-button
    theme="info"
    (click)="showSnackBar('Info message!', 'info-snackbar')"
  >
    Show Info Snackbar
  </button>
  <button
    mat-flat-button
    class="bg-error!"
    (click)="showSnackBar('Error message!', 'error-snackbar')"
  >
    Show Error Snackbar
  </button>
</div>
